<div class="col" style="min-height: 80vh;">
    <div class="container dialog my-2">
        <div class="container with_whom p-2 pl-3">
            <a class="link">Selevn</a>
        </div>
        <div class="container messages p-2 pl-3">
               <div class="container message">
                   <div class="container from">
                       <p>Message</p>
                       <p class = "text-right text-muted">13:03</p>
                   </div>
               </div>
            <div class="container message">
                   <div class="container to">
                       <p>Message</p>
                       <p class = "text-right text-muted">13:03</p>
                   </div>
               </div><div class="container message">
                   <div class="container to">
                       <p>Message</p>
                       <p class = "text-right text-muted">13:03</p>
                   </div>
               </div><div class="container message">
                   <div class="container to">
                       <p>Message</p>
                       <p class = "text-right text-muted">13:03</p>
                   </div>
               </div><div class="container message">
                   <div class="container to">
                       <p>Message</p>
                       <p class = "text-right text-muted">13:03</p>
                   </div>
               </div><div class="container message">
                   <div class="container to">
                       <p>Message</p>
                       <p class = "text-right text-muted">13:03</p>
                   </div>
               </div><div class="container message">
                   <div class="container to">
                       <p>Message</p>
                       <p class = "text-right text-muted">13:03</p>
                   </div>
                   </div><div class="container message">
                       <div class="container to">
                           <p>Message</p>
                           <p class = "text-right text-muted">13:03</p>
                       </div>
                   </div>

        </div>

        <div class="container sender_part p-2 pl-3">
            <form class="form-inline">
                <input class="form-control w-75" type="search" placeholder="Type your message here" aria-label="Search">
                <button class="btn btn-outline-success ml-2" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>