<div class="col-lg-3 col-xl-3 col-md-12  col-sm-12">
    <div class="container">
        <form class="form-inline my-2 my-sm">
            <input class="form-control w-75" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 ml-1" type="submit">Search</button>
        </form>
        <div class="container my_friends">
            <div class="container friend-card">
                Username <span class="is_online">Online</span>
            </div>
        </div>
    </div>
</div>