<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {{> bs_connect}}
    <link rel="stylesheet" type="text/css" href = "/css/dialog.css">
    <link rel="stylesheet" type="text/css" href = "/css/users.css">
</head>
<body>
{{> header}}
<div class="row w-100 h-100 ">
    {{> users}}
    {{> dialog}}
</div>
</body>
</html>